@import "../../style.scss";
.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    //which stuff is on tops
    z-index: 999;
    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      span {
        font-weight: bold;
        font-style: 20px;
        color: themed("logo");
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          @include mobile {
            display: none;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      @include mobile {
        display: none;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        position: relative;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        button{
          display: flex;
          align-items: center;
          gap: 10px;
          border: none;
          background-color: transparent;
          cursor: pointer;

        }
        .dropdown {
          display: flex;
          flex-direction: column;
          
          align-items: center;
          padding: 10px;
          background-color: themed("bg"); // Use the same background color as the navbar
          color: themed("textColor"); // Use the same text color as the navbar
          border: 1px solid themed("border");
          border-radius: 5px;
          position: absolute;
          top: 100%; // Position below the user's picture
          right: 0; // Align to the right side
          width: 75px; // Adjust width as needed
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Add a subtle box shadow
          z-index: 1000; // Ensure the logout option appears above other elements
          cursor: pointer;
          hr {
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: themed('border');
          }
        }
      }
    }
  }
}
